.DS_Store
node_modules
.tmp
npm-debug.log

# 1. Ignore absolutely everything
*

# 2. But do not ignore files that contain a dot (files with extensions)
!*.*

# 3. And do not ignore directories (so Git can still search inside them)
!*/